<?xml version="1.0" encoding="utf-8"?>
<odoo>
     <menuitem name="Ayrshare Service" 
               id="menu_ayrshare_root" 
               sequence="10"/>
     
     <menuitem name="Post Service" 
               id="menu_ayrshare_post" 
               parent="menu_ayrshare_root"
               sequence="10"/>  
</odoo>

